<!DOCTYPE html>
<!--
Page: index.html
Purpuse: Home Page of Wedding Instagram
-->
<html lang="en" ng-app="MyApp" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wedding Gram</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/wedgram.css">

</head>

<body ng-controller="HomeCtrl as homectrl" ng-cloak>
<div class="container">
    <!-- The Banner -->
    <div class="row pageHeading jumbotron">
        <h1>Joel & Sharon </h1>
        <p>Joyfully invite you to share photos of our happy moments</p>
        <div class="col-xs-12 col-sm-6">
            <p>Date: 9 Dec 2016</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>Venue: 6 Martin Place, Martin Place Residences</p>
        </div>
    </div>

    <!-- The Selection Box: Who are you? -->
    <form class="row">
        <div class="col-sm-5 pull-right">
            <label>Sign in:</label>
            <select class="form-control" ng-model="homectrl.loggedin_guest" ng-change="homectrl.login()"
                    ng-options="name.name for name in homectrl.guestList track by name.id">
            </select>
        </div>
        <div class="col-sm-6 pull-left">
            <a class="index-camera-btn" ng-click="homectrl.showUploadWindow()" ng-show="homectrl.loggedin_guest.id">
                <span class="glyphicon glyphicon-camera"></span>
            </a>
        </div>
    </form>

    <!-- debug code div>
        Loggedin Guest # {{homectrl.loggedin_guest}} <br>
        Guest List: {{homectrl.guestList}}
        <div ng-repeat="name in homectrl.guestList">
            #{{$index}} id {{name.id}}  name {{name.name}} <br>
        </div>
    </div>

    <!-- The three tabs: Photo, RSVP, Guest List-->
    <ul class="nav nav-tabs">
        <li><a class="nav active" href="#/A/{{homectrl.loggedin_guest.id}}">Photos</a></li>
        <li ng-show="homectrl.loggedin_guest.id"><a class="nav" href="#/B/{{homectrl.loggedin_guest.id}}">RSVP</a></li>
        <li ng-show="homectrl.loggedin_guest.id==1"><a class="nav" href="#/C/{{homectrl.loggedin_guest.id}}">Guest List</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" >
        <ui-view></ui-view>
    </div>

    <!-- The footer -->
    <div>
        <div class="row">
            &copy; Joel & Sharon, 2016
        </div>
    </div>

</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script type="text/javascript" src="/bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
<script src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
<script src="app/app.js"></script>
<script src="app/app.config.js"></script>
<script src="app/photos.js"></script>
<script src="app/guest.js"></script>
<script src="app/rsvp.controller.js"></script>
<script src="app/homeController.js"></script>
<script src="app/photoUpload.js"></script>
<script src="services/guest-services.js"></script>
<script src="services/photo-services.js"></script>
<script src="services/rsvp.services.js"></script>
</body>


</html>