/* Styles for the RSVP form */
.pageHeading {
    background-image: url('../images/Banner.jpg');
    background-size: contain;
    color: lightgoldenrodyellow;
}

/* Class used in Photos.html */
.photoRow {
    margin: 3em 2em;
}

.photoDesc {
    padding: 1em;
    background-color: lightyellow;
}
.photText {
    font-size: 5em;
}
.imgClass {
    min-height: 250px;
    max-height: 250px;
}

.index-camera-btn {
    /*height: 75px; width: 75px; */
    margin: auto;
    text-align: center;
    border: 5px solid #DDD;
    border-radius: 2.5em;
    font-size: 2.5em;
    color: #000;
    cursor: pointer;
    background-color: yellow;
}

/* CSS for photoUpload.html */
div.modal-dialog {
    margin-top: 210px;
}

a.upload{
    background-color: #d9534f;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    color: #FFF;
}
a.upload:hover{
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
    text-decoration: none;
    color: #FFF;
}

.imageBox {
    position: relative;
    border: 2px dashed #DDD;
    width: 100%;
    min-height: 200px;
}
.camera-btn {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 75px; width: 75px;
    margin: auto;
    text-align: center;
    border: 5px solid #DDD;
    border-radius: 47px;
    line-height: 68px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
    background-color: yellow;
}


/* CSS for .. */

#rsvpform, #guestlist {
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 2em;
}


