<form id="regform" name="regform" class="form" ng-submit="myCtrl.registerGuest() && regform.$valid" novalidate>
    <br>
    <legend>Guest Registration</legend>

    <div class="form-group">
        <label class="control-label" for="name">Name </label>
        <input type="text" class="form-control" id="name" name="name"
               ng-model="myCtrl.guestObject.name" autocomplete="off" required>
        <div class="validation alert-danger" data-ng-show="regform.name.$touched || regform.$submitted">
                <span data-ng-show="regform.name.$error.required">
                    Name is mandatory
                </span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="anna@gmail.com"
               ng-model="myCtrl.guestObject.email" autocomplete="off" required>
        <div class="validation alert-danger" data-ng-show="regform.email.$touched || regform.$submitted">
                <span data-ng-show="regform.email.$error.required && regform.email.$touched">
                      Email is mandatory
                </span>
            <span data-ng-show="regform.email.$error.email">
                      Invalid email
                </span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="contact">Contact No:</label>
        <input type="text" class="form-control" id="contact" name="contact"
               placeholder="+65" ng-model="myCtrl.guestObject.contact" ng-class="has-error"
               ng-pattern="/^\+(?:[0-9] ?){9,16}[0-9]$/"
               autocomplete="off" required>
        <div class="validation alert-danger" data-ng-show="regform.contact.$touched || regform.$submitted">
                <span data-ng-show="regform.contact.$error.required && regform.contact.$touched">
                      Contact Number is mandatory
                </span>
            <span data-ng-show="regform.contact.$error.pattern">
                      Invalid format contact number, e.g. +65 91231233
                </span>
        </div>
    </div>

    <button type="submit" class="btn primary"
            ng-disabled="regform.$invalid">
        Add
    </button>
    <button type="reset" class="btn primary">
        Clear
    </button>
</form>
<br>
<div class="alert alert-success center" role="alert" data-ng-show="myCtrl.server_response">
    {{myCtrl.server_response}}
</div>

<hr>
<div class="form-group">
    <h3> My Guest List </h3>

    <div class="col-sm-3 pull-right">
        <select name="rsvp" id="rsvp" ng-model="myCtrl.selectRsvp">
            <option value='1'>Attending</option>
            <option value='2'>Not Attending</option>
            <option value="0">Pending RSVP</option>
        </select>
    </div>

    <div class="col-sm-5 pull-left">
        <input type="text" name="name" id="guestname"
               placeholder="Enter name to search" ng-model="myCtrl.getGuestName">

        <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="myCtrl.getGuest()"></i>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>RSVP</th>
            <th>Pax</th>
        </tr>
        </thead>

        <tbody ng-repeat="guest in myCtrl.guests | filter: {rsvp: myCtrl.selectRsvp} | orderBy: 'name'">
        <!--<tbody ng-repeat="guest in myCtrl.guests">-->

        <tr>
            <td>{{($index+1)}}</td>
            <td>{{guest.name}}</td>
            <td>{{guest.email}}</td>
            <td>{{guest.contact}}</td>
            <td>{{myCtrl.displayRsvp(guest)}}</td>
            <td>{{guest.pax}}</td>
        </tr>
        </tbody>
    </table>

</div>
