<!-- Page: photos.html -->
<!-- 1. Two columns layout of photos -->

<div class="row photoRow" ng-repeat="item in vm.photos" ng-if="$index % 2 === 0">

    <div class="col-sm-6 photoText">
        <img class="img-responsive imgClass center-block" src="{{item.url}}">
        <div class="well photoDesc"> {{item.comments}}</div>
        <div class="row">
            <div class="col-sm-6 photoText">{{item.guest_name}}</div>

            <div class="col-sm-6 pull-right">
                <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"
                   ng-click="vm.clicklikes($index)"></i>
                {{item.photo_likes}}
            </div>
        </div>
    </div>

    <div class="col-sm-6" ng-if="($index + 1) < vm.photos.length">
        <img class="img-responsive imgClass center-block" src="{{vm.photos[$index+1].url}}">
        <div class="photoDesc well">{{vm.photos[$index+1].comments}}</div>
        <div class="row">
            <div class="col-sm-6">{{vm.photos[$index+1].guest_name}}</div>
            <div class="col-sm-6 pull-right">
                <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"
                   ng-click="vm.clicklikes($index+1)"></i>
                {{vm.photos[$index+1].photo_likes}}
            </div>
        </div>
        <br/>

    </div>
</div>
