<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="uploader.close(false)"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sharing Memories</h4>
            </div>
            <div class="modal-body">
                <form name="form" ng-submit="form.$valid && uploader.submit()">
                    <div class="file imageBox">
                        <img class="img-responsive" ngf-thumbnail="uploader.file">
                        <a ngf-select class="camera-btn"
                           ng-model="uploader.file">
                            <span class="glyphicon glyphicon-camera"></span>
                        </a>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"
                               ng-model="uploader.caption"
                               placeholder="Caption for the Photo"/>
                    </div>
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>