<form name ="rsvpform" class="form" ng-submit="myCtrl.submit() && rsvpform.$valid" novalidate>
    <br>
    <legend>RSVP</legend>

    <!-- Input Fields: Name, Email, Contact -->
    <div class="form-group">
        <label class="control-label" for="name">Name </label>
        <input type="type" class="form-control" id="name" name="name"
               ng-model="myCtrl.guestObject.name" required>
        <div class="validation" data-ng-show="rsvpform.name.$touched || rsvpform.$submitted">
                        <span data-ng-show="rsvpform.name.$error.required" class="validation-eror" >
                            Name is mandatory
                        </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email"
               ng-model="myCtrl.guestObject.email" autocomplete="off" required>
        <div class="validation" data-ng-show="rsvpform.email.$touched || rsvpform.$submitted">
                    <span data-ng-show="rsvpform.email.$error.required" class="validation-eror" >
                        Email is mandatory
                    </span>
                    <span data-ng-show="rsvpform.email.$error.email" class="validation-eror" >
                        Invalid email
                    </span>
        </div>
        <div>
            <div class="form-group">
                <label class="control-label" for="phone">Contact No:</label>

                <input type="text" class="form-control" maxlength="8"
                       id="phone"
                       name ="phone"
                       placeholder="Contact No"
                       name="phone"
                       ng-minlength = "8"
                       ng-maxlength = "8"
                       ng-model="myCtrl.guestObject.contact"
                       ng-required="true"
                       ng-class="has-error"
                       autocomplete="off"
                       required/>
                <span class="validation-error"
                      data-ng-show="(
                           (rsvpform.phone.$error.minlength ||
                           rsvpform.phone.$error.maxlength) &&
                           rsvpform.phone.$dirty) ">
                           Invalid phone number
                </span>

            </div>
            <div class="form-group">
                <label class="control-label">RSVP</label>
                <input type="radio" name="reply" id="reply1"
                       ng-model="myCtrl.guestObject.rsvp" value="1" required> Attending
                <input type="radio" name="reply" id="reply2"
                       ng-click="myCtrl.resetPax()"
                       ng-model="myCtrl.guestObject.rsvp" value="0"> Not Attending
            </div>
            <div class="form-group">
                <label class="control-label"> Pax </label>
                <input type="number" class="form-control" id="pax" name="pax"
                       ng-disabled="myCtrl.guestObject.reply == 0"
                       ng-min="0" ng-max="10" ng-model="myCtrl.guestObject.pax">

                <div class="validation" data-ng-show="rsvpform.pax.$touched || rsvpform.$submitted">
                    <span data-ng-show="rsvpform.pax.$error.min && myCtrl.guestObject.reply == 1"
                          class="validation-eror" >
                        Mimimum should be 1
                    </span>
                <span data-ng-show="rsvpform.pax.$error.max" class="validation-eror" >
                          Maximum should be 10
                </span>
                </div>
            </div>
            <button type="submit" class="btn primary"
                    ng-disabled="rsvpform.$invalid">
                Submit
            </button>
        </div>
    </div>
</form>

<!-- div class="alert alert-success" role="alert" data-ng-show="myCtrl.server_response.reply == 1">
    {{myCtrl.server_response.name}} is attending with {{myCtrl.server_response.pax}} pax
</div>
<div class="alert alert-danger" role="alert" data-ng-show="myCtrl.server_response.reply == 0">
    {{myCtrl.server_response.name}} is not attending
</div-->
